body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(60, 60, 60);
    color: rgb(140, 140, 140);
}

header, footer {
    background-color: rgb(32, 32, 32);
    padding: 10px;
}

a {
    color: steelblue;
    text-decoration: none;
    font-family: Verdana;
    font-size: 13px;
}

a:hover {
    color: rgb(150, 200, 255);
}

a[href^="https://github.com"]:before {
    content: " ";
    display: inline-block;
    margin-right: .4em;
    width: .8em;
    height: .8em;
    background-image: url("./images/GitHub-Mark-Light-32px.png");
    background-size: 100%;
} 

h1 {
    font-size: 1.5em;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

p.tagline {
    margin: 0 0 0 1em;
    font-size: 14px;
    font-style: italic;
    color: rgb(100, 100, 100);
    display: inline-block;
    vertical-align: middle;
}

.toolbar {
    margin: 10px 10px 0 10px;
}

.toolbar label + label {
    margin-left: 15px;
}

select {
    background-color: rgb(32, 32, 32);
    color: rgb(140, 140, 140);
    border: 0;
}

.pane-wrap {
    flex: 1;
    display: flex;
}

.pane-wrap > * {
    flex: 1;
    margin: 10px;
}

.pane-wrap > * + * {
    margin-left: 0;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

#editor {
    flex: 1;
}

.compiler-error {
    color: brown;
    background-color: rgb(39, 40, 34);
    padding: 5px;
    border-top: solid 1px rgb(47, 49, 41);
    font-family: monospace;
}

option {
    font-style: normal;
}

select[selection="-1"],
option:disabled {
    font-style: italic;
}

textarea {
    display: block;
    flex: 1;
    width: 100%;
    overflow: auto;
    min-height: 200px;
    background-color: rgb(39, 40, 34);
    color: rgb(140, 140, 140);
    border: 0;
    outline: 0;
    resize: none;
}
